name: CI after each push 

on: [push]

jobs:
  cypress-run:

    runs-on: ubundu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.2
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.0
        with:        
          build: npm run build
          start: npm start
